<section>
  <h2>Create New Ring</h2>

  <form class="new-ring-form">
    <div>
      <label for="rings">Title</label>
      <input type="text" id="rings" name="ring" />
    </div>
    <div>
      <label for="display">Ring image</label>
      <input type="display" name="ring-img">
        {{!-- Ring Display --}}
    </div>
    <button type="submit" class="btn">Create</button>
    <button type="submit" class="btn">Edit</button>
  </form>
</section>

{{#if rings.length}}
<section>
  <h2>Your Rings</h2>
  <ol>
    {{#each rings as |ring|}}
    <li>
      {{> ring-info ring}}
      {{!-- img placement with link to edit function of ring  with description of ring --}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-ring.js"></script>