<Section class="title-menu">
  <div class="title">
    <h1 class="page-title">BUILD YOUR RING</h1>
    <h2 class="sub-title">Customize your ring with the options below</h2>
  </div>
  {{!-- Form for ring title and size and any other data needed for the final render to go here --}}
  <form class="new-ring-form">
    <div class="selection-container">
      <div class="col">
        <label for="ring-size" class="form-text">Enter Ring Size (3-12)</label>
        <input type="number" id="ring-size" placeholder="Enter your ring size" name="ring-size">
      </div>
      <div class="col">
        <label class="form-text" for="ring-title">Give Your Ring A Name</label>
        <input type="text" id="ring-title" name="ring-title" placeholder="Enter your ring's name" />
      </div>
    </div>
      <div class="col-container">
        <div class="col select">
          <h1>Bands</h1>
            <div>
              <img class="band-image" src="/images/gold-band.png" alt="Gold Ring Band">
              <p><span>Gold</span> - All gold bands are a pure 25 Karat.  There are a number of widths and sytles to choose from.</p>
            </div>
            <div class="">
              <img class="band-image" src="/images/silver-band.png" alt="Silver Ring Band">
              <p><span>Silver</span> - All silver bands are Sterling .925 silver. There are a number of widths and sytles to choose from.</p>
            </div>
            <div class="">
              <img class="band-image" src="/images/decorative-band.png" alt="Decorative Ring Band">
              <p><span>Decorative</span> - There are a variety of both gold and silver decorative bands. Custom decoartion options available, as well.</p>
            </div>
        </div>
        <div class="col select">
          <h1>Stones</h1>
            <div>
              <img class="stone-image" src="/images/black-onyx.png" alt="Black Onyx Round Stone">
              <p><span>Black Onyx</span> - This dramatic black stone comes in a variety of sizes and shapes.</p>
            </div>
            <div class="">
              <img class="stone-image" src="/images/rainbow-moonstone.png" alt="Round Rainbow Moonstone">
              <p><span>Rainbow Moonstone</span> - The Rainbow Moonstone is a whimcal stone with many healing properties.</p>
            </div>
            <div class="">
              <img class="stone-image" src="/images/turquiose.png" alt="Turquoise Round Stone">
              <p><span>Turquoise</span> - The turquoise stone is a classic look that can be fitted into any size or shape ring.</p>
            </div>
        </div>
      </div>
    <div class="selection-container">
      <div class="col">
       <label class="form-text" for="band">Band</label>
        <input type="text" id="band" name="band" placeholder="ex. Gold" />
      </div>
      <div class="col">
       <label class="form-text"for="stone">Stone</label>
       <input type="text" id="stone" name="stone" placeholder="ex. Black Onyx"/>
      </div>
    </div>
    <div>
      <button class="button" type="submit" id="create-button">Create Ring</button>
    </div>
  </form>
</Section>
<script src="javascript/ring-creator.js"></script>