{{! Container for ring creator tool }}
<form class="ring-creator">
  <h1>Personalize your ring by choosing from the options below</h1>
  <div class="ring-options">
    <div class="dropdown band-options">
      <button class="dropbtn">Band</button>
      <div class="dropdown-content">
        <a href="#">Gold</a>
        <a href="#">Silver</a>
        <a href="#">Decorative</a>
      </div>
    </div>

    <div class="dropdown stone-options">
      <button class="dropbtn">Stone</button>
      <div class="dropdown-content">
        <a href="#">Black Onyx</a>
        <a href="#">Rainbow Moonstone</a>
        <a href="#">Turquoise</a>
      </div>
    </div>
    <div>
      <button type="submit" id= "create-button">Create Ring</button>
    </div>
  </div>
</form>