<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bella Ruby Jewelry</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="">
    <header>
      <h1>
        <a href="/">Bella Ruby Jewelry</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="">Create a Ring</a>
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
     {{{ body }}}
    </main>
    
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
    <footer>
      <div>
      Contact Us <br/ >
      <a href="https://www.instagram.com/accounts/login/?next=/bellarubyjewelry/" class="">Instagram</a><br />
      <a href="mailto:lissdiaz@gmail.com" class="">Email Us</a> 
      </div><br/ >
      <div>
      Shop <br />
      <a href="https://www.bellarubyjewelry.com/shop" class="">Check out some of our items</a>
      </div>
    </footer>

</html>